/* use element selector to select  all p elements for this style */
p{
    
    color: blue;
    font-size: 22px;
}

/* use class selector to define style for elemts*/

.fancy{
    color: blue;
    border: 2px;
    background-color: red;
    border-radius: 8px;
}

.mun_oma{
    background-color: aquamarine;
}
/* use id selector to define styles */
#joku_tyyli{
    margin: 100px;
}
.login_container{
    width: 300px;
    margin: 8px auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #3465a4;
    padding: 20px;
}
.myCenter{
	text-align:center;
}
#flashWidth{
    width:300px;
    margin:auto;
}

vr1 {
    display: block;
    width:2px;
    background-color:#3465a4;
    position:absolute;
    top:0;
    bottom:0;
    left:100px;
}
vr2 {
    display: block;
    width:2px;
    background-color:#3465a4;
    position:absolute;
    top:0;
    bottom:0;
    left:104px;
}
.hr1 {
    border: 1px solid #3465a4;
    margin-top: 80px;
    width:100%;
}
.hr2 {
    border: 1px solid #3465a4;
    width:100%;
    margin-top: -18px;
}