<ng-include src="'navbar.html'"></ng-include>

<div of-example></div>
<div class ="of-example"></div>
<of-example></of-example>

<div class="container">

<h1>Here is table data of the friends</h1>

<div class="row">
    <div class="col-sm-2"><h3>Name</h1></div>
    <div class="col-sm-3"><h3>Address</h1></div>
    <div class="col-sm-1"><h3>Age</h1></div>
    <div class="col-sm-3"><h3>Diipadaapaa</h1></div>
    <div class="col-sm-3"><h3>Juupajaapaa</h1></div>
</div>
<div class="row" ng-repeat='person in friendData'>
        <div style="background-color:lightgrey;" class="col-sm-2">{{person.name}}</div>
        <div class="col-sm-3">{{person.address}}</div>
        <div style="background-color:lightgrey;" class="col-sm-1">{{person.age}}</div>
        <div class="col-sm-3">daapadiipaa</div>
        <div style="background-color:lightgrey;" class="col-sm-3">jaapajuupaa</div>
</div>
</div>