<!-- Rule 1 everything must go inside container class -->
<div class="container">
    <!-- Rule 2 every column must be inside a row -->
    <div class="row">
        <!-- Rule 3 columns are defined in row -->
        <div style="background-color:red" class="col-sm-4 col-md-2 visible-lg">Col1</div>
        <div style="background-color:blue" class="col-sm-4 col-md-5">Col2</div>
        <div style="background-color:green" class="col-sm-4 col-md-5">Col3</div>
    </div>
<p class="myCenter">Kirjaudu sisään</p>
<form class='login_container'>
    <input type="text" placeholder="username" ng-model="user" class="form-control"><br/>
    <input type="password" placeholder="password" ng-model='pass' class="form-control"><br/>
    <input type="button" value="Login" ng-click='loginClicked()' class="btn btn-default">
    <input type="button" value="Register" ng-click='registerClicked()' class="btn btn-default">
    <!- bind the data from username textfield(use the variable 'user)-->
    <p>{{user}}</p>
</form>
</div>