<h1>Diipa Daapa </h1>
<hr class="hr1" />
<hr class="hr2" />
<vr1 />
<vr2 />
<p class="myCenter">Kirjaudu sisään</p>
<form class='login_container'>
    <input type="text" placeholder="username" ng-model="user" class="form-control"><br/>
    <input type="password" placeholder="password" ng-model='pass' class="form-control"><br/>
    <input type="button" value="Login" ng-click='loginClicked()' class="btn btn-default">
    <input type="button" value="Register" ng-click='registerClicked()' class="btn btn-default">
    <!- bind the data from username textfield(use the variable 'user)-->
    <p>{{user}}</p>
</form>